<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
     <h1>Welcome to Home.html</h1>
     <ul>
         <li>
             <a href= '{% url "classroom:my_view" %}'>MY VIEW</a>
         </li>
         <li>
             <a href= '{% url "classroom:thank_you" %}'>THANK YOU PAGE LINK</a>
         </li>
          <li>
             <a href= '{% url "classroom:contact" %}'>CONTACT FORM PAGE LINK</a>
         </li>
         <li>
             <a href= '{% url "classroom:create_teacher" %}'>CREATE NEW  TEACHER PAGE LINK</a>
         </li>

         <li>
             <a href= '{% url "classroom:list_teacher" %}'>LIST TEACHER PAGE LINK</a>
         </li>
     </ul>
      {% if user.is_authenticated %}
        <p> You are logged in</p>
        <p>Welcome:{{user.get_username}}</p>
        <a href="{% url 'logout' %}?next={{request.path}}"> Click here to Logout</a>
      {% else %}
           <p> You are not logged in</p>
           <a href="{% url 'login' %}?next={{request.path}}">Click here to Login</a>
      {% endif %}


</body>
</html>